.logo {
    width: 20%;
    img {
        width: 100%;
        object-fit: contain;
    }
}

.pet {
    width: 100%;
    h3 {
        width: 100%;
        text-align: center;
        object-fit: contain;
        font-size: 4rem;
        font-weight: 900;
        font-family: var(--title-font);
        color: var(--primary);
    }
}

.file-upload {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        max-height: 50%;
        min-height: 100%;
        object-fit: cover;
        border-radius: 5px;
    }
    input[type='file'] {
        display: none;
    }

    label {
        border: 5px solid var(--second);
        background-color: var(--primary);
        color: var(--second);
        font-weight: 900;
        padding: 65px 94px;
        font-size: 8rem;
        border-radius: 5px;
        cursor: pointer;
    }

    label:hover {
        border: 5px solid var(--second);

        background-color: var(--second);
        color: var(--primary);
    }
}
.title {
    margin-bottom: 16px;
    .top-title {
        font-size: 2.3rem;
        font-family: var(--text-font);
        color: var(--primary);
        font-weight: 900;
    }
}
.form-control {
    width: 80%;
    padding: 16px;
    border-radius: 5px;
    background-color: var(--second);
    color: var(--primary);
    font-size: 1.6rem;
    font-weight: 600;
}
.form-control {
    margin-top: 20px;
}
.form-control::placeholder {
    color: var(--primary);
}
.wp-btn {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    button {
        width: 25%;
        background-color: var(--second);
        color: var(--primary);
        padding: 12px;
        font-size: 1.4rem;
        font-weight: 600;

        border-radius: 5px;
        cursor: pointer;
        &:hover {
            background-color: var(--primary);
            color: var(--second);
        }
    }
}
.error {
    width: 80%;
    margin: auto;
    color: red;
    font-size: 1.4rem;
    text-align: left;
}

.errorImage {
    display: flex;
    font-size: 2rem;
    width: 100%;
    justify-content: center;
    position: absolute;
    bottom: 18px;
}
@media only screen and (max-width: 600px) {
}
