.wrapper {
    .about-pet {
        width: 80%;
        margin: 0 40px;
        display: flex;
        padding: 30px 0;

        .left {
            width: 65%;
            text-align: start;
            margin-left: 40px;
            h3 {
                margin-top: 80px;
                font-size: 4rem;
                color: var(--second);
                font-family: var(--title-font);
            }
            .p-1 {
                font-weight: 400;
                font-size: 2rem;
                color: var(--second);
                margin: 10px 0;
            }
            .p-2 {
                font-weight: 400;
                font-size: 2rem;
                color: var(--second);
                margin: 20px 0;
            }
            .button {
                font-size: 1.6rem;
                padding: 12px 40px;
                background-color: var(--second);
                color: var(--primary);
                border-radius: 2px;
                font-weight: 600;
                transition: all linear 0.2s;
                &:hover {
                    background-color: var(--primary);
                    color: var(--second);
                }
            }
        }

        .right {
            width: 35%;
            margin-top: 40px;

            .image-section-1 {
                margin-left: 150px;
                width: 100%;
            }
        }
    }

    .unowned-pets {
        padding: 40px 0 80px 0;
        width: 100%;
        height: auto;
        background-color: rgb(223, 223, 223);

        .heading-section-2 {
            font-size: 4rem;
            padding: 40px 0;
            color: var(--second);
            font-family: var(--title-font);
        }

        .slides {
            display: flex;

            .card {
                padding: 10px;
                margin: 40px 0;
                border-radius: 5px;
                background-color: #fff;
                transition: all linear 0.2s;

                .image {
                    width: 100%;
                    border-radius: 5px 5px 0 0;
                }

                .name {
                    -webkit-line-clamp: 1;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    display: -webkit-box;
                    font-size: 2rem;
                    letter-spacing: 2px;
                    margin: 10px auto 0;
                    color: var(--primary);
                }

                .info {
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    display: -webkit-box;
                    font-family: var(--text-font);
                    font-size: 1.6rem;
                    line-height: 1.5;
                    font-weight: 500;
                    text-rendering: optimizeSpeed;
                }
                .button {
                    font-size: 16px;
                    margin: 12px 0;
                    font-weight: 400;
                    padding: 8px 16px;
                    border-radius: 4px;
                    color: var(--primary);
                    background-color: var(--second);
                    transition: all linear 0.2s;
                    &:hover {
                        background-color: var(--primary);
                        color: var(--second);
                    }
                }
                &:hover {
                    box-shadow: -1px 6px 62px -9px rgba(0, 0, 0, 0.69);
                }
            }
        }
        .btn-next,
        .btn-prev {
            position: absolute;
            z-index: 99;
            padding: 16px 20px;
            color: var(--second);
            background-color: var(--primary);
            border-radius: 50%;
            cursor: pointer;
            transition: all linear 0.15s;
            &:hover {
                background-color: var(--second);
                color: var(--primary);
            }
        }
        .btn-next {
            right: 4%;
            top: 50%;
        }
        .btn-prev {
            left: 4%;
            top: 50%;
        }
    }

    .donation {
        display: flex;
        align-items: center;
        .left {
            flex: 1;
            margin-left: 80px;
            text-align: start;

            .heading-section-3 {
                font-size: 4rem;
                padding: 60px 0 40px;
                color: var(--second);
                font-family: var(--title-font);
                margin-bottom: -20px;
            }

            .bank-info {
                font-size: 2.2rem;
                letter-spacing: 2px;
                color: var(--second);
                padding: 10px 20px;
                background-color: var(--primary);
                width: 85%;
            }
            .qr-scan {
                display: flex;
                align-items: center;
                margin: 20px 0;
                padding-right: 120px;
                .qr-img {
                    width: 40%;
                    img {
                        width: 100%;
                    }
                }
                .p-3 {
                    font-weight: 400;
                    font-size: 1.8rem;
                    color: var(--second);
                    margin-left: 20px;
                }
            }
        }

        .right {
            width: 35%;
            img {
                width: 100%;
                object-fit: cover;
            }
        }
    }
}
@media only screen and (max-width: 600px) {
    .about-pet {
        flex-direction: column !important;
        .left {
            width: 100% !important;
            margin: 0 !important;
        }
        .right {
            margin: 40px auto 0;
            img {
                margin: 0 !important;
            }
        }
    }

    .donation {
        flex-direction: column !important;
        .left {
            margin: 0 !important;
            display: flex !important;
            flex-direction: column !important;
            align-items: center !important;
            .heading-section-3 {
                font-size: 2.6rem !important;
                text-align: center !important;
            }
            .bank-info {
                font-size: 1.6rem !important;
            }
            .qr-scan {
                flex-direction: column !important;
                padding: 0 !important;
                p {
                    text-align: center !important;
                }
            }
        }
        .right {
            display: none;
        }
    }
}
