.wrapper {
    background-color: var(--primary);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--white);
    width: 1400px;
    height: 600px;
    border-radius: 15px;
    .right {
        flex-direction: column;
        .logo img {
            position: absolute;
            top: 0;
            left: 3%;
            height: 33%;
            object-fit: contain;
        }
        .pet img {
            position: absolute;
            bottom: 8%;
            left: 14%;
            height: 50%;
            object-fit: contain;
        }
        .pet h3 {
            position: absolute;
            bottom: 60%;
            left: 12%;
            object-fit: contain;
            font-size: 4rem;
            font-family: var(--title-font);
            color: var(--second);
        }
    }

    .left {
        width: 50%;

        .title {
            .top-title {
                font-weight: 600;
                font-size: 2.3rem;
                font-family: var(--text-font);
                color: var(--second);
            }
          
        }

        .wp-form {
            .form-control:last-child {
                width: 80%;
                padding: 16px;
                border-radius: 5px;
                background-color: var(--primary);
                font-size: 1.6rem;
                color: var(--second);
                font-weight: 600;
            }
            .form-control:last-child {
                margin-top: 20px;
            }
            .wp-btn {
                width: 80%;
                margin-top: 20px;
                display: flex;
                justify-content: center;
                align-items: center;
                button {
                    width: 25%;
                    background-color: var(--primary);
                    padding: 10px;
                    color: var(--second);
                    font-size: 2rem;
                    font-weight: 600;

                    border-radius: 5px;
                    cursor: pointer;
                    &:hover {
                        background-color: var(--second);
                        color: var(--primary);
                    }
                }
            }
        }
    }
}
