.title {
    .top-title {
        margin-bottom: 12px;
        font-weight: 600;
        font-size: 2.3rem;
        font-family: var(--text-font);
        color: var(--second);
    }
}

.wp-form {
    .form-group {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 12px;
        label {
            font-size: 1.6rem;
        }
    }

    .form-control {
        width: 80%;
        padding: 16px;
        border-radius: 5px;
        background-color: var(--primary);
        font-size: 1.6rem;
        color: var(--second);
        font-weight: 600;
    }

    .wp-btn {
        margin-top: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        button {
            width: 25%;
            background-color: var(--primary);
            padding: 10px;
            color: var(--second);
            font-size: 2rem;
            font-weight: 600;

            border-radius: 5px;
            cursor: pointer;
            &:hover {
                background-color: var(--second);
                color: var(--primary);
            }
        }
    }
}
.error {
    width: 80%;
    margin: auto;
    color: red;
    font-size: 1.4rem;
    text-align: left;
}
