// @import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;500;600;800&display=swap');
@font-face {
    font-family: Quicksand;
    src: url('/src/assets/fonts/Quicksand-VariableFont_wght.ttf');
}
@font-face {
    font-family: iCiel;
    src: url('/src/assets/fonts/iCiel\ Crocante_0.otf');
}
:root {
    --black: #000;
    --white: #ffffff;
    --primary: #ffbf00;
    --second: #214256;
    --third: #e69d16;
    --text-color: #333;
    //Default-layout
    --default-layout-header-height: 120px;
    --default-layout-width: 1250px;
    --default-layout-horizontal-spacer: 24px;
    // // Header-Only
    // --header-only-height: 60px;
    // --header-only-width: 100%;
    // Fonts
    --title-font: 'iCiel';
    --text-font: 'Quicksand';
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: var(--text-font);
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
    // overflow: hidden;
}

*:hover {
    transition: all linear 0.2s;
}
button {
    background-color: transparent;
}
button,
input {
    outline: none;
    border: none;
}

a {
    display: inline-block;
    color: var(--text-color);
    text-decoration: none;
}

// Custom Scrollbar

html *::-webkit-scrollbar {
    border-radius: 0;
    width: 8px;
}

html *::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.15);
}

html *::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
}

// Custom Tippy Toolkit
.tippy-box {
    font-size: 1.6rem;
    line-height: 2.2rem;
    background-color: rgba(84, 84, 84, 0.92);
}
.tippy-box[data-placement^='bottom'] > .tippy-arrow:before {
    color: rgba(84, 84, 84, 0.92);
}
.tippy-content {
    padding: 8 10px;
}
