.wrapper {
    background-color: #efeef1;
    padding-bottom: 60px;
    min-height: 100vh;
    .title {
        font-size: 4rem;
        color: var(--second);
        font-family: var(--title-font);
        padding: 40px 0;
    }

    .cards {
        max-width: var(--default-layout-width);

        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;

        .card {
            width: 23%;
            padding: 10px;
            margin: 16px 12px;
            border-radius: 5px;
            background-color: #fff;
            transition: all linear 0.2s;

            .image {
                width: 100%;
                border-radius: 5px 5px 0 0;
            }

            .name {
                -webkit-line-clamp: 1;
                -webkit-box-orient: vertical;
                overflow: hidden;
                display: -webkit-box;
                font-size: 2rem;
                letter-spacing: 2px;
                margin: 10px auto 0;
                color: var(--primary);
            }

            .info {
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                overflow: hidden;
                display: -webkit-box;
                font-family: var(--text-font);
                font-size: 1.6rem;
                line-height: 1.5;
                font-weight: 500;
                text-rendering: optimizeSpeed;
            }
            .button {
                font-size: 16px;
                margin: 12px 0;
                font-weight: 400;
                padding: 8px 16px;
                border-radius: 4px;
                color: var(--primary);
                background-color: var(--second);
                transition: all linear 0.2s;
                &:hover {
                    background-color: var(--primary);
                    color: var(--second);
                }
            }
            &:hover {
                box-shadow: -1px 6px 62px -9px rgba(0, 0, 0, 0.69);
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    .title {
        font-size: 2.2rem !important;
    }
    .cards {
        .card {
            width: 43% !important;
        }
    }
}
