.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--primary);
    .menu-mobile {
        display: none;
        width: 20%;
        text-align: center;
    }
    .logo {
        width: 20%;
        text-align: right;
        img {
            max-height: var(--default-layout-header-height);
        }
    }
    .navbar {
        flex: 1;
        display: flex;
        justify-content: center;
        font-size: 1.7rem;
        font-weight: 400;
        .navbar-item {
            margin: 0 16px;
            padding: 2px 0px;
        }
        .active {
            color: var(--second);
            font-weight: 600;
            position: relative;
            &:before {
                position: absolute;
                content: '';
                width: 100%;
                height: 3px;
                bottom: 0;
                left: 0;
                right: 0;
                background-color: var(--second);
                color: var(--second);
            }
        }
    }

    .info {
        width: 20%;
        display: flex;
        justify-content: center;
        align-items: center;
        .container {
            flex: 1;
            display: flex;
            flex-direction: column-reverse;
            align-items: center;
            justify-content: center;
            margin-left: 10px;
            .avatar {
                width: 30%;
                img {
                    width: 100%;
                    object-fit: cover;
                    border-radius: 50%;
                }
            }
            .name {
                font-size: 1.8rem;
                font-weight: 600;
            }
        }
    }
    .button {
        width: 45%;
        text-align: center;
        button {
            padding: 12px 10px;
            width: 100%;
            background-color: var(--second);
            color: var(--primary);
            border-radius: 2px;
            font-weight: 600;
            cursor: pointer;
            &:hover {
                background-color: var(--third);
                color: var(--second);
            }
        }
    }
}
@media only screen and (max-width: 600px) {
    .header {
        .navbar {
            display: none !important;
        }
        .menu-mobile {
            display: block !important;
        }
    }
    .logo {
        flex: 1 !important;
        width: auto !important;
    }
    .info {
        width: 40% !important;
        .button {
            width: 55% !important;
        }
    }
}
